@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#infix') format('embedded-opentype'),
        url('/fonts/Vazir.woff2') format('woff2'),
        url('/fonts/Vazir.woff') format('woff'),
        url('fonts/Vazir.ttf') format('truetype'),
}

html,
body {
    font-family: 'Vazir', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 10px 0;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    text-align: right
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #0c2461;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.nav-menu {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
}

#navbar {
    background: #0c2461;
    overflow: auto;
}

.nav-menu ul {
    float: right;
}

.nav-menu ul li {
    float: right;
    list-style: none;
}

.nav-menu ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
}

.nav-menu a:hover,
a.current {
    background: #041a74;
}

.nav-logo a {
    color: white;
    font-size: 20px;
}

.nav-logo {
    float: left;
    margin-top: 20px;
}

.showcase {
    background: url(img/showcase.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.showcase .content {
    text-align: center;
    color: white;
    padding-top: 170px;
}

.showcase .content h2 {
    font-size: 60px;
}

.showcase .content p {
    font-size: 20px;
    padding-top: 35px;
}

.showcase .content a {
    margin-top: 20px;
    color: white;
}

.showcase .content .btn:hover {
    background: white;
    color: #0c2461;
}

#row3 {
    height: 400px;
}

.left-bar {
    float: left;
    background: url(img/photo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
}

.right-bar {
    background: #333;
    float: right;
    text-align: center;
    padding-top: 20px;
    width: 50%;
    height: 380px;
    color: white;
}

.right-bar p {
    padding-top: 20px;
}

.right-bar a {
    margin-top: 20px;
}

.right-bar a:hover {
    background: white;
    color: #0c2461;
}

.box {
    float: left;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    width: 33.3%;
}

.box i {
    margin-bottom: 15px;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #0c2461;
    color: #fff;
}

.box h3 {
    padding-bottom: 20px;
    font-size: 30px;
}

.clr {
    clear: both;
}

#main-footer {
    text-align: center;
    background: #0c2461;
    color: #fff;
    padding: 20px;
}

/* about-info */

.info-text h1 {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-text {
    float: right;
    width: 50%;
    min-height: 100%;
    font-size: 18px;


}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

.info-logo {
    float: left;
    width: 50%;
    min-height: 100%;
    text-align: left;
    margin-top: 20px;

}

/* testimonials */

#testimonials {
    height: 100%;
    background: url('img/test-bg.jpg') no-repeat center center/cover;
    padding-top: 100px;
    text-align: right;
}

#testimonials .container h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 40px;
}

.p1,
.p2 {
    background: #0c2461;
    color: #fff;
    opacity: 0.9;
}

.part {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
    font-size: 25px;
}

.part img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}


/* contact-form */


#contact-form .container h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#contact-form .container p {
    padding-bottom: 20px;
    font-size: 15px;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
}

#contact-form textarea {
    height: 200px;
}

/* contact-footer */

#contact-footer{
    background-color: #0c2461;
}


.contact-box{
    float: left;
    width: 33.3%;
    padding: 50px;
    color: white;
    text-align: center;
}


  